body {
    overflow-x: hidden;
    background-color: #655C9E;
}

/* navbar */
.navbar {
    background-color: #AA6FBF !important;
    font-family: 'Inside Out4', sans-serif;
}

.navbar-brand {
    color: white;
}

.title, .title-desc, .navigate {
    font-family: 'Inside Out4', sans-serif;
}

/* body */
.title {
    padding-top: 20px;
    color: white;
}

.title-desc {
    color: #FAD693;
}

.homePic {
    max-width: 300px;
    padding-top: 30px;
}

.navigate {
    color: #FFB01E;
}

.friendshipIsland, .hoopHaven {
    max-width: 300px;
    padding-bottom: 20px;
}

.pixelPeak {
    max-width: 300px;
    padding-bottom: 25px;
}

.technoSphere {
    max-width: 250px;
    padding-bottom: 25px;
}

.islandName, .islandName2, .islandName3, .islandName4 {
    font-family: 'Inside Out4', sans-serif;
}

.islandName {
    color: #FFD700
}

.islandName2 {
    color: #ba73fc;
}

.islandName3 {
    color: #ff7321;
}

.islandName4 {
    color: #00CED1;
}



.p1, .p2, .p3, .p4 {
    font-family: 'Montilla DEMO', sans-serif;
}

/* button */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Inside Out4', sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    max-width: 150px;
  }
}

/* Animation */

/* Floating Island */
.friendshipIsland, .pixelPeak, .hoopHaven, .technoSphere {
    animation: float 4s ease-in-out infinite; 
    transform-origin: center;
}

@keyframes float {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-15px); 
    }
    100% {
        transform: translateY(0); 
    }
}

.friendshipIsland:hover, .pixelPeak:hover, .hoopHaven:hover, .technoSphere:hover  {
    animation: float 2s ease-in-out infinite; 
}

/* Animate-up */
@keyframes slideUp {
    from {
        transform: translateY(20px); 
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animate-up.show {
    animation: slideUp 0.6s ease-out forwards;
}

